/* Base Application Styles */
body {
  height: 630px;
  color: #fff;
  background: rgba(49,49,49,1);
  background: -moz-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(49,49,49,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(135deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#000000', GradientType=1 );
}

.info {
  position: absolute;
  padding: 40px;
  left: 600px;
  top: 200px;
  color: #BDBDBD;
  font: 20px bold;
  font-family: Helvetica Neue, Helvetica, Arial;
  background: rgba(49,49,49,1);
  background: -moz-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(49,49,49,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(135deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
}

.info a {
  padding: 5px;
  border: 2px solid #000;
  background: #BDBDBD;
  text-decoration: none;
  color: #000;
}

.info a:hover {
  background: #039BE5;
  text-decoration: none;
  color: #000;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  background: #666;
}

#square {
  background: rgba(49,49,49,1);
  background: -moz-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(49,49,49,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(135deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  top: 50px;
  left: 50px;
  position: relative;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  border: 1px solid #BDBDBD;
}

#small-square {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 200px;
  border: 1px solid #BDBDBD;
  display: block;
  position: relative;
}

#second-square {
  background: rgba(49,49,49,1);
  background: -moz-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(49,49,49,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(135deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  top: 50px;
  left: 50px;
  position: absolute;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: 1px solid #BDBDBD;
  z-index: 5;
}

#second-small-square {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 150px;
  border: 1px solid #BDBDBD;
  display: block;
  position: relative;
}

#third-square {
  background: rgba(49,49,49,1);
  background: -moz-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(49,49,49,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(135deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  top: 50px;
  left: 50px;
  position: absolute;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 1px solid #BDBDBD;
  z-index: 8;
}

.point {
  box-sizing: border-box;
  margin-top: -15px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #616161;
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, .4);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px rgba(0, 0, 0, .4);
  border: 2px #BDBDBD double;
  position: absolute;
  z-index: 12;
  cursor: pointer;
}
